<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdsu.stuManage.dao.CuandcMapper">
  <resultMap id="BaseResultMap" type="com.pdsu.stuManage.bean.Cuandc">
    <id column="reid" jdbcType="CHAR" property="reid" />
    <result column="cuid" jdbcType="CHAR" property="cuid" />
    <result column="cid" jdbcType="CHAR" property="cid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    reid, cuid, cid
  </sql>
  <select id="selectByExample" parameterType="com.pdsu.stuManage.bean.CuandcExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cuandc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cuandc
    where reid = #{reid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cuandc
    where reid = #{reid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pdsu.stuManage.bean.CuandcExample">
    delete from cuandc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pdsu.stuManage.bean.Cuandc">
    insert into cuandc (reid, cuid, cid)
    values (#{reid,jdbcType=CHAR}, #{cuid,jdbcType=CHAR}, #{cid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pdsu.stuManage.bean.Cuandc">
    insert into cuandc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reid != null">
        reid,
      </if>
      <if test="cuid != null">
        cuid,
      </if>
      <if test="cid != null">
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reid != null">
        #{reid,jdbcType=CHAR},
      </if>
      <if test="cuid != null">
        #{cuid,jdbcType=CHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pdsu.stuManage.bean.CuandcExample" resultType="java.lang.Long">
    select count(*) from cuandc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cuandc
    <set>
      <if test="record.reid != null">
        reid = #{record.reid,jdbcType=CHAR},
      </if>
      <if test="record.cuid != null">
        cuid = #{record.cuid,jdbcType=CHAR},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cuandc
    set reid = #{record.reid,jdbcType=CHAR},
      cuid = #{record.cuid,jdbcType=CHAR},
      cid = #{record.cid,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pdsu.stuManage.bean.Cuandc">
    update cuandc
    <set>
      <if test="cuid != null">
        cuid = #{cuid,jdbcType=CHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=CHAR},
      </if>
    </set>
    where reid = #{reid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pdsu.stuManage.bean.Cuandc">
    update cuandc
    set cuid = #{cuid,jdbcType=CHAR},
      cid = #{cid,jdbcType=CHAR}
    where reid = #{reid,jdbcType=CHAR}
  </update>
</mapper>