<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdsu.stuManage.dao.MyStudent1Mapper">

<!-- =========================自定义sql语句=========================== -->
 		<!-- 对应方法 -->
 <select id="selectSidByClass" parameterType="java.lang.String" resultType="java.lang.String">
 	select sid from student1 where cid= ${cid}
 </select>

 <!-- /=========================自定义sql语句=========================== -->
 
</mapper>