<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdsu.stuManage.dao.ZandsMapper">
  <resultMap id="BaseResultMap" type="com.pdsu.stuManage.bean.Zands">
    <id column="reid" jdbcType="CHAR" property="reid" />
    <result column="restatue" jdbcType="INTEGER" property="restatue" />
    <result column="zcid" jdbcType="CHAR" property="zcid" />
    <result column="sid" jdbcType="CHAR" property="sid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    reid, restatue, zcid, sid
  </sql>
  <select id="selectByExample" parameterType="com.pdsu.stuManage.bean.ZandsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zands
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zands
    where reid = #{reid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zands
    where reid = #{reid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pdsu.stuManage.bean.ZandsExample">
    delete from zands
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pdsu.stuManage.bean.Zands">
    insert into zands (reid, restatue, zcid, 
      sid)
    values (#{reid,jdbcType=CHAR}, #{restatue,jdbcType=INTEGER}, #{zcid,jdbcType=CHAR}, 
      #{sid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pdsu.stuManage.bean.Zands">
    insert into zands
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reid != null">
        reid,
      </if>
      <if test="restatue != null">
        restatue,
      </if>
      <if test="zcid != null">
        zcid,
      </if>
      <if test="sid != null">
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reid != null">
        #{reid,jdbcType=CHAR},
      </if>
      <if test="restatue != null">
        #{restatue,jdbcType=INTEGER},
      </if>
      <if test="zcid != null">
        #{zcid,jdbcType=CHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pdsu.stuManage.bean.ZandsExample" resultType="java.lang.Long">
    select count(*) from zands
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zands
    <set>
      <if test="record.reid != null">
        reid = #{record.reid,jdbcType=CHAR},
      </if>
      <if test="record.restatue != null">
        restatue = #{record.restatue,jdbcType=INTEGER},
      </if>
      <if test="record.zcid != null">
        zcid = #{record.zcid,jdbcType=CHAR},
      </if>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zands
    set reid = #{record.reid,jdbcType=CHAR},
      restatue = #{record.restatue,jdbcType=INTEGER},
      zcid = #{record.zcid,jdbcType=CHAR},
      sid = #{record.sid,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pdsu.stuManage.bean.Zands">
    update zands
    <set>
      <if test="restatue != null">
        restatue = #{restatue,jdbcType=INTEGER},
      </if>
      <if test="zcid != null">
        zcid = #{zcid,jdbcType=CHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=CHAR},
      </if>
    </set>
    where reid = #{reid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pdsu.stuManage.bean.Zands">
    update zands
    set restatue = #{restatue,jdbcType=INTEGER},
      zcid = #{zcid,jdbcType=CHAR},
      sid = #{sid,jdbcType=CHAR}
    where reid = #{reid,jdbcType=CHAR}
  </update>
</mapper>